<div class="body-content">
  <div class="card">
    <div class="row">
      <div class="bankName col-sm-12">
        <span [innerText]="bank_data.bank_name"></span>
        <hr>
      </div>
      <div class="details col-sm-12">
        <span class="field" [innerText]="'IFSC Code : '"></span>
        <span [innerText]="bank_data.ifsc"></span>
      </div>
      <div class="details col-sm-12">
        <span class="field" [innerText]="'Branch : '"></span>
        <span [innerText]="bank_data.branch"></span>
      </div>
      <div class="details col-sm-12">
        <span class="field" [innerText]="'Address : '"></span>
        <span [innerText]="bank_data.address"></span>
      </div>
      <div class="details col-sm-12">
        <span class="field" [innerText]="'City : '"></span>
        <span [innerText]="bank_data.city"></span>
      </div>
      <div class="details col-sm-12">
        <span class="field" [innerText]="'District : '"></span>
        <span [innerText]="bank_data.district"></span>
      </div>
      <div class="details col-sm-12">
        <span class="field" [innerText]="'State : '"></span>
        <span [innerText]="bank_data.state"></span>
      </div>
    </div>
  </div>
</div>
